.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}


.conteudoPrincipal-cursos{
  display: flex;
  flex-wrap: wrap;    
}

.conteudoPrincipal-cursos-link{
  width: 23%;
  margin: 1%;
}
/*O codigo abaixo pega todos multiplos de 4 ou seja 0,4,8,16...*/
.conteudoPrincipal-cursos-link:nth-child(4n){
  margin-right: 0;
}
/*O codigo abaixo pega todos multiplos de 4 + 1 ou seja 1,5,9,17...*/
.conteudoPrincipal-cursos-link:nth-child(4n+1){
  margin-left: 0;
}

.videoSobre .container{
  display: flex;
}
/*Flex Grow pega o espaço em branco e vazio e completa no elemento.*/
.videoSobre-sobre{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 10;
}
/*Flex-shrink define como diminuira o elemento se colocado valor 0 define que o elemento nâo sera alterado */
/*flex-shirink calculo é x pela quantidade de elementod shirink, pega essa divisão e usa y partes dela.*/
.videoSobre-video{
  flex-grow:2;
  flex-shrink: 3;
}

.videoSobre-sobre-list{
  flex-grow: 1;
}

.rodapePrincipal-navMap-list{
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;/*Substitui as 2 linhas acima*/
  height: 254px;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
    
}
.rodapePrincipal-contatoForm-legend{
  width: 100%;
  text-align: center;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px){
  

/*Parte Mobile*/
.cabecalhoPrincipal .container{
  flex-direction: column;
  align-items: initial;
}
.cabecalhoPrincipal-nav{
  flex-direction: column;
  text-align: center;
}

.conteudoPrincipal-cursos-link{
  width: 100%;
  margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
  margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
  margin: 1%;
}

.videoSobre .container{
  flex-direction:column;
}

.rodapePrincipal-navMap-list{
  height: initial;
}

.rodapePrincipal-patrocinadores .container{
  flex-direction: column;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list{
  width: 100%;
  margin: 0;
}

.rodapePrincipal-contatoForm{
  width: 100%;
}
/*Para mais informações sobre order -> https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.cabecalhoPrincipal-nav-link-app{
  order: -1;
}
}